@import 'variables';
.nav-button {
    background-color: $nav-button;
    border: none;
    width: $nav-button-width;
    color: white;
    font-weight: bold;
    height: $nav-button-height;
    font-size: 18px;
}

.nav {
    //background-color: $nav-background;
    height: $nav-height;
    padding: 0 20px;
}

.navbar-brand {
    color: $nav-button;
    font-weight: bold;
}
