<div fxLayout="row" fxLayoutAlign="start start" style="width: 60%;">
  <form>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start start">
      <div class="form-group"  style="width: 80%;">
        <label>Name:</label>
        <input type="text" class="form-control" id="name">
      </div>
      <div class="form-group"  style="width: 20%;">
        <label>Quantity:</label>
        <input type="number" class="form-control" id="quantity">
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start start">
      <button class="btn btn-success">Add</button>
      <button  class="btn btn-danger">Delete</button>
      <button class="btn btn-warning">Clear</button>
    </div>
  </form>
</div>
